In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-11-30 21:18:15,42.6001,-73.9662,35.80,74,100,2.35
1,1,Batemans Bay,AU,2021-11-30 21:19:33,-35.7167,150.1833,73.20,81,100,2.46
2,2,Pisco,PE,2021-11-30 21:20:24,-13.7000,-76.2167,69.85,68,0,21.85
3,3,Ravar,IR,2021-11-30 21:20:25,31.2656,56.8055,53.80,41,0,3.06
4,4,Rikitea,PF,2021-11-30 21:16:57,-23.1203,-134.9692,76.44,75,0,21.07

In [20]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Heatmap of Temperature

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Humidity

In [32]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Cloudiness

In [35]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

### Heatmap of Wind Speed

In [36]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2021-11-30 21:16:57,-23.1203,-134.9692,76.44,75,0,21.07
12,12,Amahai,ID,2021-11-30 21:18:55,-3.3333,128.9167,78.96,84,93,2.24
17,17,San Nicolas,PH,2021-11-30 21:20:32,18.1725,120.5953,78.71,78,20,17.27
20,20,Faanui,PF,2021-11-30 21:20:33,-16.4833,-151.7500,80.44,78,100,18.72
21,21,Vaini,TO,2021-11-30 21:20:34,-21.2000,-175.2000,80.76,83,40,12.66
22,22,Gladstone,AU,2021-11-30 21:19:12,-23.8500,151.2500,79.79,88,99,5.75
24,24,Atambua,ID,2021-11-30 21:20:35,-9.1061,124.8925,75.45,81,100,1.88
25,25,Olinda,BR,2021-11-30 21:19:51,-8.0089,-34.8553,82.13,74,40,8.05
26,26,Baracoa,CU,2021-11-30 21:20:35,20.3467,-74.4958,77.88,78,100,6.24
33,33,Puerto Ayora,EC,2021-11-30 21:19:36,-0.7393,-90.3518,80.56,83,91,9.73

In [39]:
preferred_cities_df.count()

City_ID       176
City          176
Country       175
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

### Map nearest Hotel

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=" "
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4        Rikitea      PF     76.44 -23.1203 -134.9692
12        Amahai      ID     78.96  -3.3333  128.9167
17   San Nicolas      PH     78.71  18.1725  120.5953
20        Faanui      PF     80.44 -16.4833 -151.7500
21         Vaini      TO     80.76 -21.2000 -175.2000
22     Gladstone      AU     79.79 -23.8500  151.2500
24       Atambua      ID     75.45  -9.1061  124.8925
25        Olinda      BR     82.13  -8.0089  -34.8553
26       Baracoa      CU     77.88  20.3467  -74.4958
33  Puerto Ayora      EC     80.56  -0.7393  -90.3518

In [59]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,76.44,-23.1203,-134.9692,People ThankYou
12,Amahai,ID,78.96,-3.3333,128.9167,HOTEL ISABELA
17,San Nicolas,PH,78.71,18.1725,120.5953,NORTHVIEW Hotel
20,Faanui,PF,80.44,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
21,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
22,Gladstone,AU,79.79,-23.8500,151.2500,Highpoint International Hotel
24,Atambua,ID,75.45,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
25,Olinda,BR,82.13,-8.0089,-34.8553,Hotel Albergue de Olinda
26,Baracoa,CU,77.88,20.3467,-74.4958,Hostal Rio Miel
33,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [61]:
#add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""



# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))