## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Course Description
0,0,Auki,SB,2021-12-03 20:45:43,-8.7676,160.7034,80.58,79,100,1.45,overcast clouds
1,1,Hobart,AU,2021-12-03 20:45:44,-42.8794,147.3294,53.02,76,75,1.01,broken clouds
2,2,Port Alfred,ZA,2021-12-03 20:44:36,-33.5906,26.8910,64.29,76,100,7.25,overcast clouds
3,3,Chokurdakh,RU,2021-12-03 20:45:44,70.6333,147.9167,-20.33,94,100,13.38,overcast clouds
4,4,Rikitea,PF,2021-12-03 20:44:20,-23.1203,-134.9692,76.59,74,64,14.32,light rain

In [9]:
city_data_df.rename(columns={"Course Description": "Current Description"}, inplace=True)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Auki,SB,2021-12-03 20:45:43,-8.7676,160.7034,80.58,79,100,1.45,overcast clouds
1,1,Hobart,AU,2021-12-03 20:45:44,-42.8794,147.3294,53.02,76,75,1.01,broken clouds
2,2,Port Alfred,ZA,2021-12-03 20:44:36,-33.5906,26.8910,64.29,76,100,7.25,overcast clouds
3,3,Chokurdakh,RU,2021-12-03 20:45:44,70.6333,147.9167,-20.33,94,100,13.38,overcast clouds
4,4,Rikitea,PF,2021-12-03 20:44:20,-23.1203,-134.9692,76.59,74,64,14.32,light rain

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Auki,SB,2021-12-03 20:45:43,-8.7676,160.7034,80.58,79,100,1.45,overcast clouds
4,4,Rikitea,PF,2021-12-03 20:44:20,-23.1203,-134.9692,76.59,74,64,14.32,light rain
5,5,Vila Velha,BR,2021-12-03 20:45:45,-20.3297,-40.2925,75.15,95,90,5.01,mist
11,11,Atuona,PF,2021-12-03 20:45:48,-9.8000,-139.0333,78.64,73,5,17.00,clear sky
12,12,Quatre Cocos,MU,2021-12-03 20:45:49,-20.2078,57.7625,78.10,76,9,12.55,clear sky
17,17,Port Moresby,PG,2021-12-03 20:45:51,-9.4431,147.1797,76.42,94,40,4.61,scattered clouds
18,18,Poso,ID,2021-12-03 20:45:51,-1.3959,120.7524,78.19,84,99,4.05,heavy intensity rain
19,19,Butaritari,KI,2021-12-03 20:45:52,3.0707,172.7902,82.47,70,69,14.14,broken clouds
23,23,Arraial Do Cabo,BR,2021-12-03 20:44:19,-22.9661,-42.0278,75.16,73,75,9.22,broken clouds
26,26,Avarua,CK,2021-12-03 20:45:54,-21.2078,-159.7750,80.65,83,40,8.05,light rain

In [12]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                209
City                   209
Country                209
Date                   209
Lat                    209
Lng                    209
Max Temp               209
Humidity               209
Cloudiness             209
Wind Speed             209
Current Description    209
dtype: int64

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=" "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Auki,SB,80.58,overcast clouds,-8.7676,160.7034,
4,Rikitea,PF,76.59,light rain,-23.1203,-134.9692,
5,Vila Velha,BR,75.15,mist,-20.3297,-40.2925,
11,Atuona,PF,78.64,clear sky,-9.8000,-139.0333,
12,Quatre Cocos,MU,78.10,clear sky,-20.2078,57.7625,
17,Port Moresby,PG,76.42,scattered clouds,-9.4431,147.1797,
18,Poso,ID,78.19,heavy intensity rain,-1.3959,120.7524,
19,Butaritari,KI,82.47,broken clouds,3.0707,172.7902,
23,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,
26,Avarua,CK,80.65,light rain,-21.2078,-159.7750,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
# There are no empty rows

City                   209
Country                209
Max Temp               209
Current Description    209
Lat                    209
Lng                    209
Hotel Name             209
dtype: int64

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Auki,SB,80.58,overcast clouds,-8.7676,160.7034,Auki Motel
4,Rikitea,PF,76.59,light rain,-23.1203,-134.9692,People ThankYou
5,Vila Velha,BR,75.15,mist,-20.3297,-40.2925,Quality Suites Vila Velha
11,Atuona,PF,78.64,clear sky,-9.8000,-139.0333,Villa Enata
12,Quatre Cocos,MU,78.10,clear sky,-20.2078,57.7625,Sunrise Attitude Hotel
17,Port Moresby,PG,76.42,scattered clouds,-9.4431,147.1797,Lamana Hotel (Port Moresby)
18,Poso,ID,78.19,heavy intensity rain,-1.3959,120.7524,Hotel 77 Poso
19,Butaritari,KI,82.47,broken clouds,3.0707,172.7902,Isles Sunset Lodge
23,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
26,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "Hotel_Database.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))